body {
    margin-top: 60px;
    text-align: center;
    background: #ccff99;
}

h1 {
    padding-bottom: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: hotpink;
}

label {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}

input[type=number] {
    cursor: pointer;
}

#input-celsius {
    background-color: #52ddcf;
    font-size: 2.5rem;
}

#input-fahrenheit {
    background-color: #16bac5;
    font-size: 2.5rem;
}

#input-kelvin{
    background-color: #42a0d9;
    font-size: 2.5rem;
}

.form-padding {
    padding: 2rem 1rem;
}

::-webkit-input-placeholder {
    color: #ffffb3 !important;
}

::-moz-placeholder {
    color: #ffffb3 !important;
}

:-ms-input-placeholder {
    color: #ffffb3 !important;
}

:-moz-placeholder {
    color: #ffffb3 !important;
}

footer {
    padding-top: 1.5rem;
    font-size: 0.7rem;
    line-height: 0.2rem;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: bold;
}

.icons {
    max-width: 25px;
    height: auto;
}